MONGO_URI=mongodb://sithija:215BZiMXOheHZe9c@cluster0-shard-00-00.eeymx.mongodb.net:27017,cluster0-shard-00-01.eeymx.mongodb.net:27017,cluster0-shard-00-02.eeymx.mongodb.net:27017/?ssl=true&replicaSet=atlas-u6xxrh-shard-0&authSource=admin&appName=Cluster0
PORT=4000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=f285c42d1f82277ba05d92b154603d19efbaa1a9da0831e7b88a39065ad38596
JWT_EXPIRES_IN=1h