# Copy this file to .env and set your MongoDB connection URI
MONGO_URI=mongodb+srv://sithija:215BZiMXOheHZe9c@cluster0.eeymx.mongodb.net/loansys
PORT=4000
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1h
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
